* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #48f;
    text-align: center;
    margin-top: 0.4rem;
}

main {
    padding: 1rem;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 70vh;
    margin: auto;
    border: calc(10vh / 2) ridge #f84;
    outline: 2px solid #222;
    border-radius: 4px;
}

.square {
    border: 7px solid #222;
    outline: 1px solid #444;
    font-size: calc(1.4rem + 10vh);
    font-weight: 600;
    color: #f84;
    height: calc(65vh / 3);
}

.square:hover {
    background-color: #ccc;
}

.square:active {
    background-color: #ff4;
}

.scores {
    margin: 12px auto;
    padding: 2px;
    border: 2px solid #000;
    max-width: 70vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}