* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #48f;
    text-align: center;
    margin-top: 0.4rem;
}

main {
    padding: 1rem;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 70vh;
    margin: auto;
    border: calc(10vh / 2) ridge #f84;
    outline: 2px solid #222;
    border-radius: 4px;
}

.square {
    border: 7px solid #222;
    outline: 1px solid #444;
    font-size: calc(1.4rem + 10vh);
    font-weight: 600;
    color: #f84;
    height: calc(65vh / 3);
    cursor: pointer;
}

.square:hover {
    background-color: #ccc;
}

.square:active {
    background-color: #ff4;
}

.scores {
    background-color: #f84;
    margin: 18px auto;
    padding: 8px;
    border: calc(2vh / 2) outset #f84;
    border-radius: 4px;
    outline: 2px solid #222;
    max-width: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info,
.score-info {
    font-size: 1.2rem;
    background: #ff4;
    margin: 1%;
    padding: 1% 2%;
    border: 3px inset #555;
    border-radius: 2px;
}

dialog {
    margin: auto;
}